TELEGRAM_TOKEN="12345"
SECRET_KEY="secret_key_django"
ADMIN_ID=123 #id телеграма администратора бота
DB_ENGINE= 'django.db.backends.postgresql'
DB_NAME='db_name'
POSTGRES_USER='db_user'
POSTGRES_PASSWORD='user_password'
DB_HOST='db_host'
DB_PORT='5432'
